<div class="container">
  <mat-card>
    <mat-card-header>
    <mat-card-title class="head">
      <h4> Profil</h4>
    </mat-card-title>

    </mat-card-header>
<mat-divider></mat-divider>

<mat-card-content>
  <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">

    <div class="mt-2" class="avatar-container">
      <label for="image">
        <input type="file"  name="image"(change)="onFileChanged($event)"  id="image" style="display:none;"/>
        <a > <img class=" mt-3 avatar-img"  src="../../../../assets/images/user.png"></a>

        <a > <img class=" mt-3 avatar-img"  *ngIf="!!this.picture" [src]="this.picture"></a>
        <div><mat-icon style="z-index: 1;
    margin-top: -20px;
    font-size: 40px;
    ">add_a_photo</mat-icon></div>
      </label>
    </div>




<div >
  <div class="container-form">

    <div class="col-5 d-inline-block">

      <div>
        <mat-form-field class="col-12">
          <input matInput placeholder="Account address"  disabled [value]="this.adminForm.controls['username'].value">
        </mat-form-field>

      </div>

    </div>

    <div class="col-5 d-inline-block">
      <div>
          <mat-form-field class="col-12">
            <input matInput placeholder="Solde"  disabled [value]="this.solde">
          </mat-form-field>


      </div>

      <div>

      </div>


</div>

  </div>
<div>
</div>
</div>
  </form>

</mat-card-content>

  </mat-card>

</div>
