.avatar-img{
  width: 200px;
  border-radius: 100%;
  height: 200px;
}
.avatar-container{

  text-align: center;
}
.input{
  width: 50%;
}
.container-form{
  text-align: center;
}
.head{
  font-family: 'DM Serif Display', serif;

}
