

<nb-auth-block>
  <h2 class="title">Connexion</h2>
  <small class="form-text sub-title">Bienvenue sur  Payware! Connectez-vous avec clé privée </small>
  <form (ngSubmit)="loginEmail()" #form="ngForm" autocomplete="nope">

    <div *ngIf="errors && errors.length > 0 && !submitted" class="alert alert-danger" role="alert">
      <div><strong>Oh snap!</strong></div>
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>

    <div *ngIf="messages && messages.length > 0 && !submitted" class="alert alert-success" role="alert">
      <div><strong>Hooray!</strong></div>
      <div *ngFor="let message of messages">{{ message }}</div>
    </div>

    <div class="form-group">
      <label class="sr-only">Email address</label>
      <mat-form-field style="width: 100%">

      <input matInput name="email" [(ngModel)]="user.email"  pattern=".+@.+\..+"
             placeholder=" Adresse Email" #email="ngModel"
             [class.form-control-danger]="email.invalid && email.touched" autofocus ></mat-form-field>
      <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
        Email obligatoire!
      </small>
      <small class="form-text error"
             *ngIf="email.invalid && email.statusChanges&&email.touched &&email.errors?.pattern">
        Email non valide!
      </small>
    </div>
    <div class="form-group">
      <label  class="sr-only">Private Key </label>
      <mat-form-field style="width: 100%">

      <input name="password" [(ngModel)]="user.password" type="password"
              placeholder="Private Key check your file" #password="ngModel" matInput
             [class.form-control-danger]="password.invalid" required></mat-form-field>
      <small class="form-text error" *ngIf="password.invalid&&password.touched &&password.statusChanges  " required>
        Mot de passe obligatoire
      </small>
      <small
        class="form-text error"
        *ngIf="password.invalid && password.touched &&password.statusChanges ">
        Mot de passe obligatoire
      </small>
    </div>
  <!--  <div class="form-group accept-group col-sm-12">
      <a class="forgot-password" routerLink="../request-password">Forgot Password?</a>
    </div> -->

    <button    class="btn btn-block  " mat-raised-button color="primary" >Connexion</button>
    <button   class="btn btn-block  "
            [class.btn-pulse]="submitted" routerLink="../register" mat-raised-button color="primary" >Inscription</button>

  </form>
  <div class="links">

  </div>
</nb-auth-block>
