<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="head">

        <label> <mat-icon color="primary">emoji_transportation</mat-icon>  Covoiturage</label>
      </mat-card-title>

    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>






      <div >
        <div class="container mt-5 text-center">
          <div *ngIf="loading"  >
            <mat-spinner  class="text-center"></mat-spinner>
            <h6>Chargement en cours, veuillez patienter...</h6>
          </div>

<div >
          <div class="col-5 d-inline-block" *ngIf="!userexist&& !loading">
            <mat-form-field appearance="fill" >
              <mat-label>Type </mat-label>
              <mat-select >
                <mat-option *ngFor="let item of this.list" (onSelectionChange)="getType($event)" [value]=item value=item.type>{{item.type}}</mat-option>

              </mat-select>
              </mat-form-field>

          </div><br/>
          <button  mat-raised-button *ngIf="!loading && !userexist" (click)="adduser()" class="mb-5" color="primary">Ajouter</button>
</div>
          <mat-tab-group *ngIf="userexist && !loading" >
            <mat-tab *ngIf="this.userType==='chauffeur'" style="background-color: #edf1f7" label="Ajouter Destination">    <div >
              <div class="col-5 d-inline-block">
                <mat-form-field appearance="fill">


                  <mat-label>Destination </mat-label>


                  <input matInput  [(ngModel)]="this.destination" placeholder="destination"/>
                </mat-form-field>

              </div><br/>
              <div class="col-5 d-inline-block">


                <mat-form-field appearance="fill">
                  <mat-label>Nombre de places  </mat-label>
                  <input matInput type="number" [(ngModel)]="this.nbPlace" placeholder="Nombre de places"/>
                </mat-form-field>

              </div><br/>
              <div class="col-5 d-inline-block">
                <mat-form-field appearance="fill">
                  <mat-label>Prix  </mat-label>
                  <input matInput  [(ngModel)]="this.price" type="number" placeholder="Prix"/>
                </mat-form-field>

              </div><br/>
              <br/>
              <div class="col-5 d-inline-block">
                <mat-form-field appearance="fill">
                  <mat-label>Date  </mat-label>
                  <input  [(ngModel)]="this.departTime" matInput  placeholder="Date"/>
                </mat-form-field>

              </div><br/>
              <button  mat-raised-button (click)="addDestination()" class="mb-5" color="primary">Ajouter</button>
            </div> </mat-tab>
            <mat-tab label="Reservation">
              <mat-card *ngFor="let item of this.listDestination" class="col-3 m-2 d-inline-block">
                <mat-card-header>
                  <mat-card-title ><p style="font-size:8px">{{item._id}}</p></mat-card-title>
                  <mat-card-subtitle><p style="font-size: 5px">{{item.address}}</p></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://www.webeev.fr/top/wp-content/uploads/2016/05/covoiturage.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                  destination : {{item.destination}}
                  </p>
                  <p>
                    nombre de place : {{item.nbPlace}}
                  </p>
                  <p>
                    date : {{item.date}}
                  </p>

                  <p>
                    prix : {{item.prix}}
                  </p>
                </mat-card-content>
                <mat-card-actions>

                  <button *ngIf="this.userType!='chauffeur'" [disabled]="submit" (click)="subscribeCov(item.address,item._id)" mat-raised-button color="primary">Réserver</button>
                </mat-card-actions>
              </mat-card>

            </mat-tab>
          </mat-tab-group>







        </div>
      </div>
    </mat-card-content>

  </mat-card>

</div>
