<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <div>
        <a class="d-inline-block mr-3" routerLink="../parametres" href="javascript:void(0)"> <mat-icon color="primary">keyboard_backspace</mat-icon></a>
      </div>
      <div>
        <mat-card-title class="head"> Ajouter Administrateur</mat-card-title>
      </div>
    </mat-card-header>
    <mat-divider class="mt-4">

    </mat-divider>

    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">

      <mat-card-content>

        <div class="container mt-5">
          <div class="col-6 d-inline-block">
            <div>
              <mat-form-field class="input-width" appearance="legacy">
                <mat-label>Nom</mat-label>
                <input matInput hidden formControlName="userStore" placeholder="Name">

                <input matInput formControlName="username" placeholder="Nom">
                <mat-hint>{{ formErrors.required }}</mat-hint>
                <mat-error>{{ formErrors.required }}</mat-error>

              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="input-width" appearance="legacy">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email">
                <mat-hint>{{ formErrors.pattern }}</mat-hint>
                <mat-error>{{ formErrors.pattern }}</mat-error>

              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="input-width" appearance="legacy">
                <mat-label>Telephone</mat-label>
                <input matInput formControlName="userPhone" placeholder="Telephone">
                <mat-hint>{{ formErrors.minLengthPhone }}</mat-hint>
                <mat-error>{{ formErrors.minLengthPhone }}</mat-error>

              </mat-form-field>
            </div>



            <div>
              <mat-form-field class="input-width" class="example-full-width">
                <textarea matInput class="input-width" formControlName="userAddresse" placeholder="Adresse"></textarea>

                <mat-hint>{{ formErrors.required }}</mat-hint>
                <mat-error>{{ formErrors.required }}</mat-error>

              </mat-form-field>

            </div>


          </div>
          <div class="col-6 d-inline-block">
            <div >
              <label for="image">
                <input type="file"  name="image"(change)="onFileChanged($event)"  id="image" style="display:none;"/>
                <a > <img class=" mt-3 avatar-img"  *ngIf="this.picture===''" src="../../../../assets/images/user.png"></a>

                <a > <img class=" mt-3 avatar-img"  *ngIf="!!this.picture" [src]="this.picture"></a>
                <div><mat-icon style="z-index: 1;
    margin-top: -20px;
    font-size: 40px;
    ">add_a_photo</mat-icon></div>
              </label>

            </div>


            <div>
              <mat-form-field class="input-width" appearance="legacy">
                <mat-label>Mot de passe </mat-label>
                <input matInput placeholder="Password"  type="password" formControlName="Mot de passe "  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  >
                <mat-hint>{{ formErrors.unique }}</mat-hint>
                <mat-error>{{ formErrors.unique }}</mat-error>

              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="input-width" appearance="legacy">
                <mat-label>Confirmer mot de passe</mat-label>
                <input matInput placeholder="Confirmer mot de passe" type="password" formControlName="confirmPassword"  [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                <mat-hint>{{ formErrors.mismatch }}</mat-hint>
                <mat-error>{{ formErrors.mismatch }}</mat-error>

              </mat-form-field>
            </div>
          </div>

        </div>

      </mat-card-content>
      <mat-card-footer>
        <mat-divider></mat-divider>
        <div class="btn-container">
          <button mat-raised-button  class="mt-4 mr-4 mb-4 "color="primary"> Enregistrer</button>
          <button mat-raised-button class="mt-4  mb-4" (click)="onReset()" color="warn">Annuler </button>
        </div>
      </mat-card-footer>
    </form>

  </mat-card>




</div>
