:host ::ng-deep nb-stepper .step-content {
  text-align: center;

  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}
.head{
  font-family: 'DM Serif Display', serif;

}
.input-width{
  width: 70%;
}
.btn-container{
  text-align: center;
}
::ng-deep
body > ngx-app > ngx-pages > ngx-one-column-layout > nb-layout > div > div > div > div > div > nb-layout-column > ngx-components > ngx-stepper > div > mat-card > form >mat-card-content  > div > div:nth-child(2) > div:nth-child(1) > ngx-img > div {
  height: 170px;
  width: 170px;
  border-radius: 100%;
}
::ng-deep
body > ngx-app > ngx-pages > ngx-one-column-layout > nb-layout > div > div > div > div > div > nb-layout-column > ngx-components > ngx-stepper > div > mat-card > mat-card-content > div > div:nth-child(2) > div:nth-child(1) > ngx-img > div > div > span > img{

  height: 100%;
  border-radius: 100%;
  width: 100%;

}
::ng-deep
body > ngx-app > ngx-pages > ngx-one-column-layout > nb-layout > div > div > div > div > div > nb-layout-column > ngx-components > ngx-stepper > div > mat-card > mat-card-content > div > div:nth-child(2) > div:nth-child(1) > ngx-img > div > button{

  margin-right: 50px;

}

.avatar-img{
  width: 100px;
  border-radius: 100%;
  height: 100px;
}
.avatar-container{

  text-align: center;
}
