.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
::ng-deep .nb-theme-default .btn.btn-hero-success {
  background-image: linear-gradient(to right, #3F51B5, #3F51B5);
  border: none;
  box-shadow: 0 0 0 0 #5452b8, 0 0 0 0 #506899, 0 0 transparent;
  color: #ffffff;
}
