
<div class="container-fluid">
  <mat-card>
  <mat-card-header>
    <form class="col-8 float-left" >

      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Recherche par nom" (keyup)="reset()" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-icon matSuffix>search</mat-icon>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.username}}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>


    </form>
    <div class="col-2 ">
      <button class="float-lg-right mr-5 " (click)=" navAddUser()" mat-raised-button color="primary" >Ajouter Administrateur</button>
    </div>
    <div class="col-2 ">
      <button class="float-lg-right mr-3" (click)=" navProfil()" mat-raised-button color="primary" >Modifier Votre Compte</button>
    </div>

  </mat-card-header>
  <mat-card-content *ngIf="userList.length === 0 ">
    <div class="center-data" >
      <img src="../../../../assets/images/nodata-found.png">
    </div>
  </mat-card-content>
  <mat-accordion *ngIf="!!userList">

    <div *ngFor="let user of this.userList  ">
      <mat-expansion-panel    [hideToggle]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              <img *ngIf="!(!!user.userPicture)" class="d-inline-block" src="../../../../assets/images/user.png" class="mr-2" height="40px" width="40px" style="border-radius: 100%">

              <img *ngIf="!!user.userPicture" class="d-inline-block" src="{{user.userPicture}}" class="mr-2" height="40px" width="40px" style="border-radius: 100%">
            </div>
            <div class="align-content-center mt-2">
              {{user.username}}
            </div>
          </mat-panel-title>
          <mat-panel-description class="mt-2">
            {{user.email}}
          </mat-panel-description>

          <div>


            <a *ngIf="currentAccountId != user.user_id" href="javascript:void(0)">  <mat-icon (click)="open2(dialog)" aria-hidden="false" color="warn" aria-label="Example home icon">delete</mat-icon>
            </a>

          </div>
          <ng-template #dialog let-data let-ref="dialogRef">
            <nb-card>
              <nb-card-header>Supprimer</nb-card-header>
              <nb-card-footer>
                <button mat-raised-button (click)="removeUser(user)" (click)="ref.close()" class=" m-2" color="warn">Confirmer</button>

                <button mat-raised-button (click)="ref.close()" class=" m-2" color="primary">Annuler</button>


              </nb-card-footer>
            </nb-card>
          </ng-template>
        </mat-expansion-panel-header>
        <mat-divider ></mat-divider>

        <div class="container-fluid  mt-4">

          <div class="col-5 d-inline-block">
            <div>

              <mat-form-field  class="w-input" appearance="standard" color="warn">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Phone Number"  disabled [readonly]="true" value="{{user.userPhone}}">
              </mat-form-field>

            </div>



          </div>
          <div class="col-5 d-inline-block">


            <div class="mt-2">

              <mat-form-field
                class="w-input"  appearance="standard"  color="warn">
                <mat-label>created At</mat-label>
                <input matInput placeholder="created At" disabled autofocus [readonly]="true" value="{{user.createdAt}}">
              </mat-form-field>
            </div>
          </div>
        </div>



      </mat-expansion-panel>

    </div>
  </mat-accordion>

</mat-card>

</div>
