
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="head">
        <label style="color:#3A3A3A"><mat-icon color="primary">card_travel</mat-icon> Abonnement Transport</label>
      </mat-card-title>

    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>






      <div >

        <div class="container mt-5 text-center">

          <div  class="col-5 d-inline-block">
            <div>
              <mat-form-field  *ngIf="!loading" appearance="fill">
                <mat-label>Nombre de moins</mat-label>
                <input [(ngModel)]="nbMoins" matInput>
              </mat-form-field>
<div *ngIf="loading" >
              <mat-spinner  class="text-center"></mat-spinner>
<h6>Chargement en cours, veuillez patienter...</h6>
</div>
            </div>

            <div  *ngIf="!loading">
              <mat-form-field appearance="fill">
                <mat-label>Type de Abonnement</mat-label>
                <mat-select  >
                  <mat-option *ngFor="let item of this.ListAbonnement" (onSelectionChange)="getType($event)" [value]=item  >{{item.type}} {{item.prix}}TC</mat-option>
                </mat-select>

              </mat-form-field>


            </div>
          </div>
          <br/>
          <button   *ngIf="!loading" mat-raised-button (click)="Subscribe()" class="mb-5" color="primary">Reserveation</button>


        </div>
        <div>
        </div>
      </div>
      <mat-divider ></mat-divider>
      <mat-expansion-panel class="mt-4" *ngFor="let item of this.listAbonnement" [hideToggle]="true" disabled >
        <mat-expansion-panel-header>
          <mat-panel-title style="color: black">
            Abonnement id: {{item._id}}
          </mat-panel-title>
          <mat-panel-description style="color: black">
            valable {{item.nbMoins}} moins a partir de {{item.createdAt }}
          </mat-panel-description>
        </mat-expansion-panel-header>


      </mat-expansion-panel>

    </mat-card-content>

  </mat-card>

</div>
