<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="head">

        <label><mat-icon color="primary">local_hotel</mat-icon><p style="display: inline;">  Foyer</p></label>
      </mat-card-title>

    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>






      <div >
        <div class="container mt-5 text-center" *ngIf="!this.reservation">
          <div *ngIf="loading"  >
            <mat-spinner  class="text-center"></mat-spinner>
            <h6>Chargement en cours, veuillez patienter...</h6>
          </div>
          <div *ngIf="!loading" class="col-5 d-inline-block" >
            <div>
                <mat-form-field appearance="fill">
                  <mat-label>Nombre de moins</mat-label>
                  <input [(ngModel)]="nbMoins" matInput>
                </mat-form-field>


            </div>

          </div>
          <br/>
          <button  *ngIf="!loading" mat-raised-button (click)="subscribeFoyer()" class="mb-5" color="primary">Reserveation</button>


        </div>
        <div>
        </div>
      </div>
      <mat-divider *ngIf="!this.reservation"></mat-divider>
      <mat-expansion-panel *ngIf="this.reservation" class="mt-2" [hideToggle]="true" disabled >
        <mat-expansion-panel-header>
          <mat-panel-title style="color: black">
            Date: {{this.reservation.createdAt  | date: 'dd/MM/yyyy'}}
          </mat-panel-title>
          <mat-panel-description style="color: black">
            nbMoins: {{this.reservation.nbMoins}}
          </mat-panel-description>
        </mat-expansion-panel-header>


      </mat-expansion-panel>

    </mat-card-content>

  </mat-card>

</div>
