<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="head">

      <label><mat-icon color="primary">credit_card</mat-icon> Bourse</label>
      </mat-card-title>

    </mat-card-header>
    <mat-divider ></mat-divider>

    <mat-card-content>






      <div *ngIf="!lock" >
        <div class="container mt-5 text-center">

          <div class="col-5 d-inline-block">
            <div>
<label>Scholarship
              <mat-form-field>
                <mat-label>scholarship  </mat-label>
                <mat-select #fontSize value="16px">

                  <mat-option *ngFor="let item of this.listSchoolar"  (onSelectionChange)="getType($event)" [value]=item>{{item.type}}  {{item.prix}}TC/M</mat-option>
                </mat-select>
              </mat-form-field>
</label>

            </div>


          </div>
          <button  mat-raised-button (click)="test()" color="primary">Encaissement</button>


        </div>
        <div>
        </div>
      </div>
<mat-divider *ngIf="!lock" ></mat-divider>
      <mat-expansion-panel *ngFor="let item of this.listTranche" class="mt-2" [hideToggle]="true" disabled >
        <mat-expansion-panel-header>
          <mat-panel-title style="color: black">
            Date: {{item.createdAt  | date: 'dd/MM/yyyy'}}
          </mat-panel-title>
          <mat-panel-description style="color: black">
            Solde: {{item.value}}
          </mat-panel-description>
        </mat-expansion-panel-header>


      </mat-expansion-panel>

    </mat-card-content>

  </mat-card>

</div>
