<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="head">

        <label><mat-icon color="primary">fastfood</mat-icon><p style="display: inline;">Restaurant</p></label>
      </mat-card-title>

    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>






      <div >
        <div class="container mt-5 text-center">
          <div *ngIf="loading"  >
            <mat-spinner  class="text-center"></mat-spinner>
            <h6>Chargement en cours, veuillez patienter...</h6>
          </div>
          <div  *ngIf="!loading" class="col-5 d-inline-block">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Nombre de moins</mat-label>
                <input  [(ngModel)]="this.nbmoins" matInput>
              </mat-form-field>


            </div>

          </div>
          <br/>
          <button *ngIf="!loading"  mat-raised-button (click)="subscribeTest()" class="mb-5" color="primary">Ajouter</button>


        </div>
        <div>
        </div>
      </div>
      <mat-divider ></mat-divider>
      <div *ngIf="!loading" >
      <mat-expansion-panel class="mt-4"  *ngFor="let item of this.listAbonnement" [hideToggle]="true" disabled >
        <mat-expansion-panel-header>
          <mat-panel-title style="color: black">
             Abonnement id: {{item._id}}
          </mat-panel-title>
          <mat-panel-description style="color: black">
<p>valable {{item.nbMoins}} Moins a partir : {{item.createdAt  | date: 'dd/MM/yyyy'}}</p>
          </mat-panel-description>
        </mat-expansion-panel-header>


      </mat-expansion-panel>
      </div>
    </mat-card-content>

  </mat-card>

</div>
