<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">Payware</a>
  </div>

</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action>
      <a [matTooltip]=message (mouseover)="gettoken()" routerLink="./parametres" href="javascript:void(0)"><mat-icon color="indigo">account_balance_wallet</mat-icon></a>
    </nb-action>

    <nb-action>
      <a class="ml-3"  matTooltip="Deconnexion" (click)="logOut()"  href="javascript:void(0)"><mat-icon>exit_to_app</mat-icon></a>


    </nb-action>

  </nb-actions>
</div>
